<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rocket Radium Gym</title>
    <link rel="stylesheet" href="../css/login.css">
    <script src="../js/login.js"></script>
</head>
<body>

    <header id="header">
        <div class="header-div-first" >
            <img   class="img-logo" src="../../assets/imgs/logo.png" alt="logo">
        </div>
        <div class="header-div-second" >
            <h1>MEGA ROCKET GYM</h1>
            <h4>TAKE OFF YOUR POTENTIAL</h4>    
        </div>
        <div class="header-div-third" >
            <a class="header-link" href="login.html">Register</a>
        </div>
    </header>

    
    <main id="main" >
        <div class="main-div-general" >
            <div class="main-div-name" >
                <h2>Sign In</h2>
            </div>
            <div class="main-div-register" >
                <div class="main-div-input-first" >
                    <label> Nombre </label>
                    <input type="text" class="main-input" placeholder="Juan Suarez" id="input-name" >
                    <label> Apellido </label>
                    <input type="text" class="main-input" placeholder="•••••••" id="input-lastname" >
                    <label> DNI </label>
                    <input type="text" class="main-input" placeholder="12345678" id="input-DNI" >
                    <label> Fecha de nacimiento </label>
                    <input type="text" class="main-input" placeholder="01/01/0101" id="input-birthday" >
                    <label> Teléfono </label>
                    <input type="text" class="main-input" placeholder="091000111" id="input-phone" >
                    <label> Dirección </label>
                    <input type="text" class="main-input" placeholder="Calle falsa 1515" id="input-address" >
                </div> 
                <div class="main-div-input-second" >
                    <label>Localidad</label>
                    <input type="text" class="main-input" placeholder="Montevideo" id="input-location" >
                    <label>Código postal</label>
                    <input type="text" class="main-input" placeholder="12500" id="input-CP" >
                    <label>Email</label>
                    <input type="text" class="main-input" placeholder="ejemplo@ejemplo.com" id="input-email" >
                    <label>Constraseña</label>
                    <input type="text" class="main-input" placeholder="•••••••" id="input-password" >
                    <label>Repetir contraseña</label>
                    <input type="text" class="main-input" placeholder="•••••••" id="input-repeatpassword" >
                </div>
            </div>
            <div class="main-div-button" >
                <button class="main-button">Register</button>
            </div>
        </div>
    </main>

    <footer  class="footer-div-main" id="footer" >
        <div class="footer-div-first" >
            <button class="footer-button" >Contact us</button>
        </div>
        <div class="footer-div-second" >
            <p class="footer-copyright">All rights reserved ®</p>
        </div>
        <div class="footer-div-third" >
            <img class="footer-img" src="../../assets/imgs/logo_fb.png" alt="Logo_fb">
            <img class="footer-img" src="../../assets/imgs/logo_ig.png" alt="Logo_ig">
        </div>
    </footer>   
</body>
</html>