<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rocket Radium Gym</title>
    <link rel="stylesheet" href="../css/sign-up.css">
    <script src="../js/sign-up.js"></script>
</head>
<body>

    <header id="header">
        <div class="header-div-first" >
            <img   class="img-logo" src="../../assets/imgs/logo.png" alt="logo">
        </div>
        <div class="header-div-second" >
            <h1>MEGA ROCKET GYM</h1>
            <h4>TAKE OFF YOUR POTENTIAL</h4>    
        </div>
        <div class="header-div-third" >
            <a class="header-link" href="login.html">Register</a>
        </div>
    </header>

    
    <main id="main">
        <div class="main-div-general">
          <div class="main-div-first">
            <h2>Sign In</h2>
          </div>
          <div class="main-div-second">
            <div class="input-container">
              <input type="text" class="main-input" placeholder="ejemplo@gmail.com" name="input-mail" id="input-mail">
              <span class="error-message" id="error-message-email"></span>
            </div>
            <div class="input-container">
              <input type="text" class="main-input" placeholder="••••••••" name="input-pwd" id="mi-input">
              <span class="error-message" id="error-message-pwd"></span>
            </div>
          </div>
          <div class="main-div-combinate">
            <div class="main-div-third">
              <input type="checkbox" class="main-input-checkbox">
              <span>Remember me</span>
            </div>
            <div class="main-div-fourth">
              <a href="login.html" class="main-link">Forgot password</a>
              <a href="login.html" class="main-link">Get help</a>
            </div>
          </div>
      
          <div class="main-div-fifth">
            <button class="main-button" id="submit-button">Continue</button>
          </div>
        </div>
      </main>
      

    <footer  class="footer-div-main" id="footer" >
        <div class="footer-div-first" >
            <button class="footer-button" >Contact us</button>
        </div>
        <div class="footer-div-second" >
            <p class="footer-copyright">All rights reserved ®</p>
        </div>
        <div class="footer-div-third" >
            <img class="footer-img" src="../../assets/imgs/logo_fb.png" alt="Logo_fb">
            <img class="footer-img" src="../../assets/imgs/logo_ig.png" alt="Logo_ig">
        </div>
    </footer>   
</body>
</html>