/*Style for all html*/
* {
    font-family: Roboto, font-family;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
}


/*Style by labels*/
header {
    display: flex;
    border-bottom-style: solid;
    border-color: black;
    border-bottom-width: 1px;

}
h1 {
    font-weight: bolder;

}
h1,h2,h3,h4 {
    color: #49A37B;
    text-shadow: 1px 1px 1px;
}

p {
    font-size: large;
}
footer {
    border-top-style: solid;
    border-color: black;
    border-top-width: 1px;
}


/*Classes for images*/
.img-hamburguer {
    width: 45px;
    height: 45px;
}
.img-home {
    margin-left: 50%;
    width: 45px;
    height: 45px;
}
.img-log-in {
    margin-left: 2%;
    width: 45px;
    height: 45px;
}
.img-log-out {
    margin-left: 2%;
    width: 45px;
    height: 45px;
}
.img-information {
    margin-left: 2%;
    width: 45px;
    height: 45px;
}
.img-logo {
    position: absolute;
    left: 50%;
    width: 40%;
    height: 45%;
}
.img-turno-logo {
    height: 45px;
    width: 45px;
}
.img-calendar-logo{
    height: 45px;
    width: 45px;
}
.img-membership-logo{
    height: 45px;
    width: 45px;
}
.img-question-logo{
    height: 45px;
    width: 45px;
}

/*Style by buttons*/
.landing-button-readmore {
    position: relative;
    top: 52%;
    border-color: #49A37B;
    border-width: 1px;
    border-radius: 5%/15%;
    }

/*Style by paragraphs*/
.landing-section-presentation-pp {
    display: block;
    display: flex;
    height: 15px;
    width: 400px;
}

/*Style by sections*/
.landing-section-presentation {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    height: 300px;
    padding-bottom: 50px;
    border-bottom-style: solid;
    border-color: black;
    border-bottom-width: 1px;
}
.landing-section-functions {
    height: 350px;
    border-bottom-style: solid;
    border-color: black;
    border-bottom-width: 1px;
}
.landing-section-about {
    display: flex;
    justify-content: start;
    align-items: center;
    height: 230px;
    border-bottom-style: solid;
    border-color: black;
    border-bottom-width: 1px;
}
    
.landing-section-inquiries {
    position: relative;
    height: 450px;
    border-bottom-style: solid;
    border-color: black;
    border-bottom-width: 1px;
}
.landing-section-plans {
    display: flex;
    justify-content: space-around;
    height: 250px;
}

/*Sub-sections into landing-section-function*/
.landing-functions-subtitle {
    display: flex;
}
.landing-section-function-first {
    display: flex;
}
.landing-section-function-second {
    display: flex;
}

/*Sub-sections into landing-section-about*/
.landing-about-subsection-title {
    display: flex;
    left: 10px;
    width: 150px;
}
.landing-about-subsection-pp {
    display: flex;
    left: 250px;
    width: 950px;
    top: -100px;
}

/*Sub-sections into landing-section-inquiries */
.landing-inquiries-subsection-inquirie {
    position: relative;
    width: 350px;
}
.landing-inquiries-subsection-reason {
    position: relative;
    top: -150px;
    left: 550px;
    width: 320px;
}
.landing-inquiries-subsection-comments {
    position: relative;
    top: -110px;
    width: 350px;
}

/*Sub-sections into landing-section-plans*/
.landing-section-plans-subtitles {
    position: relative;
    left: 30px;
}
.landing-section-subplans {
    display: flex;
    flex-direction: column;

}

/*Footer styles*/
.landing-footer-images{
    display: flex;
    justify-content: center;
}
.landing-footer-logos {
    display: flex;
    justify-content: center;
}

/*Media queries */
/*Mobile*/
@media screen and (min-width: 390px) and (max-width: 600px) {
    .landing-section-presentation {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: flex-start;
        height: 600px;
        padding-bottom: 50px;
        border-bottom-style: solid;
        border-color: black;
        border-bottom-width: 1px;
    }
    .landing-section-functions {
        height: 750px;
        border-bottom-style: solid;
        border-color: black;
        border-bottom-width: 1px;
    }
    .landing-section-about {
        display: flex;
        justify-content: start;
        align-items: center;
        height: 430px;
        border-bottom-style: solid;
        border-color: black;
        border-bottom-width: 1px;
    }
        
    .landing-section-inquiries {
        position: relative;
        height: 850px;
        border-bottom-style: solid;
        border-color: black;
        border-bottom-width: 1px;
    }
    .landing-section-plans {
        display: flex;
        justify-content: space-around;
        height: 450px;
    }
}
/*Tablet*/
@media screen and (min-width: 601px) and (max-width: 1024px) {
    
}

/*Desktop*/
@media screen and (min-width: 1025px) {
    
}
