/*Style for all html*/
* {
    font-family: Roboto, font-family;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
}


/*Style by labels*/
header {
    position: relative;
    border-bottom-style: solid;
    border-color: black;
    border-bottom-width: 1px;

}
h1 {
    font-weight: bolder;
    position: relative;
    top: 20px;
    left: 60px;
}
h1,h2,h3,h4 {
    color: #49A37B;
}

p {
    font-size: large;
}
footer {
    position: relative;
    padding-top: 50px;
    border-top-style: solid;
    border-color: black;
    border-top-width: 1px;

}


/*Classes for images*/
.img-hamburguer {
    display: inline-block;
    width: 45px;
    height: 45px;
}
.img-home {
    display: inline-block;
    width: 45px;
    height: 45px;
}
.img-log-in {
    display: inline-block;
    width: 45px;
    height: 45px;
}
.img-log-out {
    display: inline-block;
    width: 45px;
    height: 45px;
}
.img-information {
    display: inline-block;
    width: 45px;
    height: 45px;
}
.img-logo {
    position: relative;
    left: 550px;
    top: -100px;
    width: 450px;
    height:300px;
}

/*Style by buttons*/
.landing-button-readmore {
    border-color: #49A37B;
    border-width: 1px;
    border-radius: 5%/15%;
    align-items: center;
    }

/*Styles by h1, h2, h3, h4*/
.landing-h1 {
    display: inline-block;
}
/*Style by paragraphs*/
.landing-section-presentation-pp {
    display: block;
    position: relative;
    height: 15px;
    width: 400px;
}

/*Style by sections*/
.landing-section-presentation {
    position: relative;
    top: 50px;
    padding-bottom: 50px;
    border-bottom-style: solid;
    border-color: black;
    border-bottom-width: 1px;
}
.landing-section-functions {
    position: relative;
    top: 100px;
    padding-bottom: 500px;
    border-bottom-style: solid;
    border-color: black;
    border-bottom-width: 1px;
}
.landing-section-about {
    position: relative;
    top: 200px;
    border-bottom-style: solid;
    border-color: black;
    border-bottom-width: 1px;
}
    
.landing-section-inquiries {
    position: relative;
    top: 230px;
    border-bottom-style: solid;
    border-color: black;
    border-bottom-width: 1px;
}
.landing-section-plans {
    position: relative;
    top: 300px;
}

/*Sub-sections into landing-section-function*/
.landing-functions-subsection-reserves {
    position: relative;
    top: 5px;
    height: 15px;
    width: 400px;
}
.landing-functions-subsection-agenda {
    position: relative;
    top: -25px;
    left: 650px;
    height: 15px;
    width: 400px;
}
.landing-functions-subsection-memberships {
    position: relative;
    top: 230px;
    height: 15px;
    width: 400px;
}
.landing-functions-subsection-sugerencies {
    position: relative;
    left: 650px;
    top: 200px;
    height: 15px;
    width: 400px;
}

/*Sub-sections into landing-section-about*/
.landing-about-subsection-title {
    position: relative;
    left: 10px;
    width: 150px;
}
.landing-about-subsection-pp {
    position: relative;
    left: 250px;
    width: 950px;
    top: -100px;
}

/*Sub-sections into landing-section-inquiries */
.landing-inquiries-subsection-inquirie {
    position: relative;
    width: 350px;
}
.landing-inquiries-subsection-reason {
    position: relative;
    top: -150px;
    left: 550px;
    width: 300px;
}
.landing-inquiries-subsection-comments {
    position: relative;
    width: 350px;
    top: -100px;
}

/*Sub-sections into landing-section-plans*/
.landing-section-plans-subtitles {
    padding-left: 30px;
}
.landing-section-plans-c {
    position: relative;
}
.landing-section-plans-black {
    position: relative;
    top: -150px;
    left: 185px;
}
.landing-section-plans-classic {
    position: relative;
    top: -310px;
    left: 550px;
}
.landing-section-plans-clases {
    position: relative;
    top: -440px;
    left: 900px;
}

/*Footer styles*/
.landing-footer-logos {
    position: relative;
    left: 500px;
}
